In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
plt.style.use('seaborn')

import data_io # Custom IO file

# Input/Output of RGA and Temperature Data

In [2]:
p = os.getcwd() # for now, data is in this directory

In [3]:
data = data_io.read_rga_outs(p)

In [4]:
data

                Datetime Mass_amu Partial_Pressure_torr
0    2019-05-15 10:36:29        1              8.71e-11
1    2019-05-15 10:36:29      1.1              1.99e-10
2    2019-05-15 10:36:29      1.2              1.81e-09
3    2019-05-15 10:36:29      1.3              3.57e-09
4    2019-05-15 10:36:29      1.4              2.29e-09
...                  ...      ...                   ...
1636 2019-05-06 09:20:57    164.6              3.63e-11
1637 2019-05-06 09:20:57    164.7              2.69e-11
1638 2019-05-06 09:20:57    164.8              5.06e-10
1639 2019-05-06 09:20:57    164.9              9.73e-11
1640 2019-05-06 09:20:57      165             -1.34e-10

[2282 rows x 3 columns]